<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.rotorgames.cordova.plugins.TelephoneNumber"
    version="1.0.1">
    <name>TelephoneNumber</name>
    <description>This plugin allows your to get hold of the telephone number from an android device</description>
    <author>Simon MacDonald, updated to Cordova 3 by Russell Stather</author>
    <keywords>android, phone number</keywords>
    <license>MIT</license>

    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="TelephoneNumber">
          <param name="android-package" value="com.rotorgames.cordova.plugins.TelephoneNumber"/>
        </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      </config-file>
      <source-file src="src/com/rotorgames/cordova/plugins/TelephoneNumber.java" target-dir="src/com/simonmacdonald/cordova/plugins" />
      <js-module src="www/TelephoneNumber.js" name="TelephoneNumber">
        <clobbers target="TelephoneNumber" />
      </js-module>
    </platform>
</plugin>
